:root {
  --pure-white: #ffffff;
  --black: #000000;
  --light-blue: #99ffff;
  --blue-blue: #0707e0;
  --light-pink: #ff99ff;
  --scrim-purple: #8704b3;
}

main {
  padding-top: 5%;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.container > img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.container > p {
  color: var(--blue-blue);
  font-size: 16px;
}

.content {
  width: 100%;
  padding-bottom: 5%;
}

.content > .showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.showcase > .hero > img {
  position: relative;
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

.showcase > .hero > h3.text-hero {
  font-weight: 500;
  text-align: center;
  color: var(--blue-blue);
}

.showcase .hero p.lead {
  font-weight: 300;
  text-align: center;
  color: var(--black);
}
